<h1 class="text-center">Simon Dice!</h1>

<div class="circle mx-auto">

  <div class="tl" (click)="checkOrder(0)" id="0" name="verde">
    
  </div>

  <div class="tr" (click)="checkOrder(1)" id="1" name="rojo">
    
  </div>

  <div class="bl" (click)="checkOrder(2)" id="2" name="amarillo">
    
  </div>

  <div class="br" (click)="checkOrder(3)" id="3" name="azul">
    
  </div>


</div>
<div class="jugar mx-auto text-center mt-5" id="jugar" *ngIf="!juego ; else jugando">
  <button (click)="empezarJuego()" >
    Jugar!
  </button>
</div>

<ng-template #jugando>
  Estamos jugando xikiyoooo
</ng-template>