<h1 class="text-center">Simon!</h1>

<div class="circle mx-auto">

  <div class="tl" (click)="checkOrder(0)" id="0" name="verde">
    
  </div>

  <div class="tr" (click)="checkOrder(1)" id="1" name="rojo">
    
  </div>

  <div class="bl" (click)="checkOrder(2)" id="2" name="amarillo">
    
  </div>

  <div class="br" (click)="checkOrder(3)" id="3" name="azul">
    
  </div>


</div>
<div class="jugar mx-auto text-center mt-5" id="jugar" *ngIf="!juego ; else jugando">
  <button (click)="empezarJuego()" >
    Jugar!
  </button>
</div>

<ng-template #jugando >

  <div class="d-flex justify-content-between mt-5">
    <div>
      <h3>Puntuación actual : {{ puntuacion }}</h3>
    </div>
    <div *ngIf="turno ; else jugador">
      <h3>Turno de Simon</h3>
    </div>
    <ng-template #jugador>
      <h3>Turno del Jugador</h3>
    </ng-template>
    <div>
      <h3>Máxima puntuación : {{ maxPuntuacion}}</h3>
    </div>
  </div>
  

</ng-template>